<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>

    <a href = "/index">
    {% raw %}
            <button type="submit" class="btn btn-primary" ng-disabled="loading">Back_up</button>
    {% endraw %}
    </a>    

    <h2>"{{ mat_conf_title }}"</h2>
                                                                            
    <table style="width:100%">
    <tr>
        {% for class in CLASSES %}
            <th>{{ class }}</th>
        {% endfor %}
    </tr>
    {% for i in range(62) %}
        <tr>
            {% for result in mat_conf[i] %}
            <td>{{ result }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>


</body>
</html>
